<div id="aboutContainer">
    <div class="aboutHeader">
        <h1>About us</h1>
        <img src="../../../assets/website-images/aboutLogo.svg" alt="">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sequi iste accusantium porro quia, ipsa assumenda
        eaque numquam! Eius temporibus minima, animi doloremque perspiciatis ab, placeat enim nulla quis accusamus autem
        aliquid cum, tempore cumque non eos molestiae quas. Odit ratione quas nam ipsa molestias excepturi aliquam
        impedit ipsam recusandae.</p>
</div>