<div id="storeDataContainer">
    <img src="../../../assets/website-images/dataLogo.svg" alt="">
    <div class="card">
        <div class="cardHeader">
            <h1>Store Data</h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#eeeeee" fill-opacity="1"
                    d="M0,224L34.3,202.7C68.6,181,137,139,206,101.3C274.3,64,343,32,411,64C480,96,549,192,617,224C685.7,256,754,224,823,192C891.4,160,960,128,1029,101.3C1097.1,75,1166,53,1234,80C1302.9,107,1371,181,1406,218.7L1440,256L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z">
                </path>
            </svg>
        </div>
        <div id="data">
            <div class="availableProducts">
                <p>Available products in out store : <br> <span class="amounts"> {{productsAmount}}</span></p>
            </div>
            <div class="ordersNumber">
                <p>Number of orders submitted in our store : <br> <span class="amounts"> {{ordersAmount}}</span></p>
            </div>
            <div class="notfication">
                {{userCartStatus}}
            </div>
        </div>
    </div>
</div>